<!DOCTYPE html>
<html>
<head>
    <title>@lexsam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/images/icon1.ico">
</head>
<body>
<div id="page_align" class="b3radius">
    <div id="header">
        <div id="header_nav">
            <ul>
                <li class="menu_active"><a href="/">Главная</a></li>
                <li><a href="/gallery">Галерея</a></li>
                <li><a href="/feedback">Комментарии</a></li>
                <li><a href="/visits">Визиты</a></li>
            </ul>
            <img src="/counter" style = float:right>
        </div>
        <div id="header_cont">
            <h1><span style="color: #98CA60">@lex</span><span style="color: #515151">sam</span></h1>
        </div>
    </div>
    <div id="sidebar" class="f_left">
        <div class="sb_header"><i></i>Навигация</div>
        <div class="sb_nav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/gallery">Галерея</a></li>
                <li><a href="/feedback">Комментарии</a></li>
                <li><a href="/visits">Визиты</a></li>
            </ul>
        </div>
    </div>
    <div id="content" class="f_right">
        <div id="portfolio">
            <div id="image_st" class="b3radius"></div>
            <div id = "information" >
                    Алексей Самородов<br><br>
                    Cтудент <a href="http://urfu.ru/ru">УРФУ</a>
                    <a href="http://imkn.urfu.ru/">ИМКН</a>, 3 курс, Компьютерные науки<br><br>
                    Тел: <span style="font-style: italic">8-932-605-50-70</span><br><br>
                    <span style="font-style: italic">
                        Правильного выбора <br>
                        в реальности не существует - <br>
                        есть только сделанный <br>
                        и его последствия.<br><br>Эльчин Сафарли.</span>
            </div>
        </div>
        <div class="icons_cont">
            <ul>
                <li><a href="https://vk.com/alex_sam66" target="_blank"><img src="/static/images/vk_logo.png" alt="Вконтакте"></a></li>
                <li><a href="mailto:alexeysamorodov@gmail.com" target="_self"><img src="/static/images/gmail_logo.png" alt="Почта"></a></li>
                <li><a href="http://urfu.ru/ru" target="_blank"><img src="/static/images/urfu_logo.png" alt="УРФУ"></a></li>
                <li><a href="http://imkn.urfu.ru/" target="_blank"><img src="/static/images/imkn_logo.png" alt="МатМех"></a></li>
            </ul>
        </div>
    </div>
    <div class="clr">

    </div>
</div>
</body>
</html>